BINANCE_API_KEY=your_binance_api_key_here
BINANCE_SECRET_KEY=your_binance_secret_key_here
TG_TOKEN=your_telegram_bot_token_here
TG_CHAT_ID=your_telegram_chat_id_here

CONSERVATOR_SYMBOLS=BTC/USDT,ETH/USDT,SOL/USDT //Adding a crypto pair starts trading
TOTAL_BUDGET_USDT_CONSERVATOR=30.0 //Budget for one direction of trade
CONSERVATOR_EXIT_SYMBOLS= //Adding a crypto pair stops trading and sells at the current rate


AGGRESSOR_API_KEY=your_binance_api_key_2_here
AGGRESSOR_SECRET_KEY=your_binance_secret_key_2_here
AGGRESSOR_TG_TOKEN=your_telegram_bot_2_token_here
AGGRESSOR_TG_CHAT_ID=your_telegram_chat_2_id_here

AGGRESSOR_SYMBOLS=PLAY/USDT,SHIB/USDT //Adding a crypto pair starts trading
TOTAL_BUDGET_USDT=20.0 //Budget for one direction of trade
AGGRESSOR_EXIT_SYMBOLS= //Adding a crypto pair stops trading and sells at the current rate